<ol class="list-group d-grid col-12 col-lg-11 col-xl-9 mx-auto mt-4">
  {% for address in address_list %} {% if address.default %}
  <li class="list-group-item d-lg-flex justify-content-between align-items-start pt-0">
    <div class="ms-2 me-auto">
      <div class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="This is the Default Address">
        {{ address.address1 }} {{ address.address2 }}
        <i class="bi bi-check2-all text-success fs-5 align-bottom"></i>
      </div>
      {{ address.country}} {{ address.city}} {{ address.zipcode }} {{ address.full_name }}
    </div>
    <a class="mx-2 align-self-center" href="{% url 'edit-address' address.id %}?next=/checkout/" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Modify Address"><i class="bi bi-pencil-square"></i></a>
    <a class="mx-2 align-self-center text-danger" href="{% url 'del-address' address.id %}?next=/checkout/" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Delete Address"><i class="bi bi-trash3-fill"></i></a>
  </li>
  {% else %}
  <li class="list-group-item d-lg-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{ address.address1 }} {{ address.address2 }}</div>
      {{ address.country}} {{ address.city}} {{ address.zipcode }} {{ address.full_name }}
    </div>
    <a class="mx-2 align-self-center" href="{% url 'edit-address' address.id %}?next=/checkout/" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Modify Address"><i class="bi bi-pencil-square"></i></a>
    <a class="mx-2 align-self-center text-success" href="{% url 'set-default' address.id %}?next=/checkout/" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Set default address"><i class="bi bi-check2-square"></i></a>
    <a class="mx-2 align-self-center text-danger" href="{% url 'del-address' address.id %}?next=/checkout/" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Delete Address"><i class="bi bi-trash3-fill"></i></a>
  </li>
  {% endif %} {% endfor %}
</ol>
<div class="d-grid col-6 col-lg-4 col-xl-4 mx-auto mt-4">
  <a href="{% url 'new-address' %}?next=/checkout/" class="btn btn rounded-1 btn-primary mx-1">Add address</a>
</div>