{% extends 'base.html' %}

{% block title %}Invoices{% endblock title %}

{% block content %}
<h1 class="text-center">Invoices</h1>
<div class="container orders mt-4">
	<div class="row">
		<div class="col-auto col-md-9 m-auto">
			<div class="table-responsive-md">
				<table class="table align-middle table-hover">
					<thead>
						<tr>
							<th scope="col">Invoice ID</th>
							<th scope="col">Invoice number</th>
							<th scope="col">Transaction ID</th>
							<th scope="col">status</th>
							<th scope="col">Customer</th>
						</tr>
					</thead>
					<tbody>
						{% for invoice in invoices %}
						<tr>
							<th scope="row">{{ invoice.id }}</th>
							<td>{{ invoice.invoice_number }}</td>
							<td>{{ invoice.transaction_id }}</td>
							<td>{{ invoice.status }}</td>
							<td>{{ invoice.user }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
{% endblock content %}