{% extends 'base.html' %}
{% block title %}Home Product{% endblock title %}
{% block content %}
<div class="my-2 text-center">
  <h1>Home Product</h1>
</div>
<div class="container product my-5">
  <div class="row">
    <div class="col-md-12 d-sm-flex flex-sm-wrap justify-content-center">
      {% for prod in product %}
      <div class="card shadow-lg col-12 mx-auto my-1 col-sm-8 col-md-5 m-sm-1 col-lg-4 col-xl-3">
        <div class="container-fluid p-0">
          <img src="{{ prod.image.url }}" class="card-img-top img-fluid" alt="{{ prod.title }}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ prod.title }}</h5>
          <p class="mb-1">Price: &euro;{{ prod.price }}</p>
          <input type='hidden' name="{{request.path}}">
          {% if prod.is_available %}
          <p>In stock: {{ prod.quantity }}</p>
          <div class="col-auto text-center">
            <a href="{% url 'cart-add' prod.id %}" class="btn btn-sm btn-success mb-2 mb-sm-0">Add to cart</a>
            <a href="{{ prod.get_absolute_url }}" class="btn btn-sm btn-primary mb-2 mb-sm-0">More details</a>
          </div>

          {% else %}
          <span class="text-danger">Out of stock</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}